{
  "quoteProps": "consistent",
  "arrowParens": "avoid",
  "plugins": ["prettier-plugin-tailwindcss"],
  "semi": false,
  "trailingComma": "all",
  "singleQuote": false,
  "tabWidth": 2,
  "endOfLine": "auto",
  "importOrder": ["^app/(.*)$", "^../", "^./((?!scss).)*$", "scss$"],
  "importOrderSeparation": true
}
