@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./list.css";
@import "tailwindcss";

@theme {
  --color-primaryMain: oklch(26.06% 0.004 84.58);
  --color-primaryLight: oklch(36.16% 0.008 75.31);
  --color-secondaryMain: oklch(82.58% 0.018 81.32);
  --color-secondaryLight: oklch(99.06% 0.01352908677048263 92.97793627734326);
  --color-textMain: oklch(0.93 0 7.81);
  --color-orange: oklch(0.56 0.2086 32.66);
  --color-error: oklch(65.65% 0.23 39.43);
  --animate-marque: marquee 25s linear infinite;
  --animate-marque2: marquee2 25s linear infinite;

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes marquee2 {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: oklch(26.06% 0.004 84.58);
  color: oklch(82.58% 0.018 81.32);
  /* font-family: var(--font-sans); */
}

.baseline::before {
  content: "\200b" !important;
}

.scrollbar::-webkit-scrollbar {
  width: 7px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #f8f8f8;
  border-radius: 5px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #cecece;
  border-radius: 8px;
  border: 1px solid #f8f8f8;
}

.wysiwyg-data ol,
ul {
  list-style: inherit;
}

@layer utilities {
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

@layer components {
  .scroll-shadows {
    background:
      /* Shadow Cover TOP */
      linear-gradient(white 30%, rgba(255, 255, 255, 0)) center top,
      /* Shadow TOP */
        radial-gradient(
          farthest-side at 50% 0,
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0)
        )
        center top;

    background-repeat: no-repeat;
    background-size:
      100% 40px,
      100% 14px;
    background-attachment: local, scroll;
  }

  .scrollbar-landing::-webkit-scrollbar {
    width: 7px;
  }

  .scrollbar-landing::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 5px;
  }

  .scrollbar-landing::-webkit-scrollbar-thumb {
    background-color: #0da094;
    border-radius: 12px;
    border: 1px solid #f8f8f8;
  }

  .scrollbar-landing-esh::-webkit-scrollbar {
    width: 7px;
    scrollbar-gutter: unset;
    position: absolute;
  }

  .scrollbar-landing-esh::-webkit-scrollbar-track {
    border-radius: 5px;
    margin: 20px 0;
  }

  .scrollbar-landing-esh::-webkit-scrollbar-thumb {
    background-color: #0da094;
    border-radius: 12px;
    border: 1px solid #f8f8f8;
  }

  .scrollbar-new::-webkit-scrollbar {
    @apply w-1;
  }

  .scrollbar-landing-borschevik::-webkit-scrollbar {
    width: 7px;
  }

  .scrollbar-landing-borschevik::-webkit-scrollbar-track {
    background: #f8f8f8;
    border-radius: 5px;
  }

  .scrollbar-landing-borschevik::-webkit-scrollbar-thumb {
    background-color: #0da094;
    border-radius: 12px;
    border: 1px solid #f8f8f8;
  }
}

.burn {
  mix-blend-mode: color-burn;
}
